html, body {
	margin: 0;
	padding: 0;
	user-select: none;
	height: 100%;
	width: 100%;
	color: black;
	font-family: Futura BQ, 'Oswald', 'Didact Gothic', sans-serif;
}

body {	
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	text-decoration: none;
	color: inherit;
	text-decoration-color: inherit;
}

/*OBJECTS*/

.container div.signature, .container div.social, .container div.feed {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.container .title, .container .navigation, .container .footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.title {	
	width: 39.1vw;
}

.intro {
	width: 61.8vw;
	text-align: justify;
	margin: auto;
}

.navigation a {
	padding: 0px 20px;
}

.signature {
	padding: 20px;
	flex-direction: column;
}

.social {
	padding: 20px;
	flex-direction: column;
}

.social div {
	flex-direction: row;
}

.social a img {
	padding: 0 10px;
	height: 40px;
	width: auto;
}

.social a img:hover {
	filter: opacity(75%) sepia(100%) saturate(500%) brightness(70%) hue-rotate(180deg);
}

/*Feed pages*/

.feed {
	width: 61.8vw;
	max-width: 61.8vw;
}

.feed div.portfolio-text h1, .feed div.portfolio-text h2 {
	font-family: 'Amatic SC', cursive;
	margin: 0;
}