html,body {
	margin: 0;
	padding: 0;
	user-select: none;
	height: 100%;
	width: 100%;
	color: black;
	font-family: Berlin Sans, Futura (Light), futura-lt-w01-light, 'Gill Sans MT', sans-serif;
}

body {	
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	text-decoration: none;
	color: inherit;
	text-decoration-color: inherit;
}

/*OBJECTS*/

.container div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.container .title, .container .navigation, .container .footer {
	flex-direction: row;
}

.title {	
	width: 39.1vw;
}

.navigation a {
	padding: 0px 20px;
}

.signature {
	padding: 20px;
	flex-direction: column !important;
}

.social {
	padding: 20px;
	flex-direction: column !important;
}

.social div {
	flex-direction: row;
}

.social a img {
	padding: 0 10px;
	height: 40px;
	width: auto;
}

.social a img:hover {
	filter: opacity(75%) sepia(100%) saturate(500%) brightness(70%) hue-rotate(180deg);
}