@font-face {
	font-family: "Futura BQ";
	src: url("https://db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.eot");
	src: url("https://db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.eot?#iefix") format("embedded-opentype"),
	url("https://db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.woff2") format("woff2"),
	url("https://db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.woff") format("woff"),
	url("https://db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.ttf") format("truetype"),
	url("https://db.onlinewebfonts.com/t/06190fb370e952fa10fad4dd11876d63.svg#Futura BQ") format("svg");
}