
.feed {
	width: 61.8vw;
	max-width: 61.8vw;
}

.post {
	padding: 20px 0;
	white-space: pre-wrap;
}

.DisplayImage {
	align-items: center !important;
	justify-content: center !important;
	padding: 20px 0 0 0;
	width: 61.8vw !important;
}

.Grid {
	padding: 20px 0 0 0;
	width: 61.8vw !important;
}

.Carousel {
	align-items: center !important;
	justify-content: center !important;
	padding: 20px 0 0 0;
	width: 60vw !important;
}

.DisplayImage img {
	max-width: 100%;
}

.DisplayImage img:hover {
	cursor: pointer;
}

.Carousel div {
	align-items: center !important;
	justify-content: center !important;
}

.Carousel div:hover {
	cursor: pointer !important;
}

.Grid img:hover {
	opacity: 0.8;
}

.thumbs-wrapper {
	width: 100% !important;
	overflow-x: auto !important;
	margin: 0 !important;
	align-items: center !important;
	justify-content: center !important;
}

.thumbs.animated {
	padding: 0 !important;
}

.feed div {
	text-align: justify;
	justify-content: flex-start;
	align-items: flex-start;
}

.feed div h1, .feed div h2 {
	font-family: 'Amatic SC', cursive;
	margin: 0;
}