
.feed {
	padding: 0 15vw;
	width: 70vw;
	max-width: 70vw;
}

.post {
	padding: 20px 0;
	white-space: pre-wrap;
}

.DisplayImage {
	align-items: center !important;
	justify-content: center !important;
	padding: 20px 0 0 0;
	width: 70vw !important;
}

.DisplayImage img {
	width: 100%;
}

.Grid {
	padding: 20px 0 0 0;
	width: 70vw !important;
	max-width: 800px;
}

.Carousel {
	align-items: center !important;
	justify-content: center !important;
	padding: 20px 0 0 0;
	width: 60vw !important;
	max-width: 1200px;
}

.thumbs-wrapper {
	width: 100% !important;
	overflow-x: auto !important;
	margin: 0 !important;
	align-items: center !important;
	justify-content: center !important;
}

.thumbs.animated {
	padding: 0 !important;
}

.feed div {
	text-align: justify;
	justify-content: flex-start;
	align-items: flex-start;
}

.feed div h1, .feed div h2 {
	font-family: 'Amatic SC', cursive;
	margin: 0;
}