.feed div.post.portfolio-text {
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: justify;
	padding: 20px 0;
	white-space: pre-wrap;
	width: 100%;
}

.feed div.portfolio-text h1, .feed div.portfolio-text h2 {
	font-family: 'Amatic SC', cursive;
	margin: 0;
	text-align: left;
}

.feed div.DisplayImage, .feed div.Grid, .feed div.Carousel {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 20px 0 0 0;
	width: 61.8vw;
}

.feed div.Carousel {
	margin: auto;
}

div.DisplayImage img {
	max-width: 100%;
}

.DisplayImage img:hover {
	cursor: pointer;
}

.feed div.Carousel > div {
	display: flex;
	flex-direction: column;
	width: inherit;
	align-items: center;
}

.feed div.Carousel div:hover {
	cursor: pointer;
}

.Grid img:hover {
	opacity: 0.8;
}

.thumbs-wrapper {
	width: 100%;
	overflow-x: auto !important;
	margin: auto !important;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.thumbs.animated {
	padding: 0;
}