.imageBox {
	width: 50%;
	grid-area: 1/2/2/3;
}

.textBox {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	color: white;
	grid-area: 1/2/2/3;
}

.textBox span.bold {
	font-weight: bold;
}

.textBox h1, .textBox h4 {
	margin: 0;
	text-align: center;
	font-weight: normal;
}

h4.description {	
	padding: 20px 19%;
}

.textBox.project-text h1 {
	font-size: 50px;
	font-weight: normal;
	padding: 20px 0 10px 0;
}

.imageBox.project-text {
	overflow: auto;
	display: flex;
}

.imageBox.project-text img {
}

div.links {
	padding: 20px 0;
	display: flex;
	flex-direction: row;
}

div.links.prefix {
	padding: 30px 0 0 0;
}

div.links.prefix img {
	height: 50px;
	padding: 0 10px;
}

div.links.suffix img {
	height: 50px;
	filter: invert(100%);
	padding: 0 10px;
}

.feed hr.line {
	color: #002147;
	background-color: #002147;
	height: 5px;
	width: 100%;
}